.navButtons{
    -fx-background-color: transparent;
    -fx-border-color: #ff7a00;
    -fx-color: black;
    -fx-opacity: 100%;
}

.navButtons:hover{
    -fx-background-color: #ff7a00;
    -fx-opacity: 45%;
    -fx-border-color: #ff7a00;
}

.boarder{
    -fx-border-color:  #ff7a00;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2) , 12.0 , 0.0 , 0.0 , 8.0);
}

.shadow2{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2) , 18.0 , 0.0 , 0.0 , 5.0);
}

.scrollPane{
    -fx-background-color: transparent;
}